@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Young+Serif&display=swap');

:root {
    --primary-color: #0ADAFF;
    --secondary-color: #52D7EB;
    --accent1-color: #9AD4D6;
    --accent2-color: #BCD7DC;

    --heading-font: 'Young Serif', serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-background-color: #0ADAFF;
    --nav-link-color: #52D7EB;
    --nav-hover-link-color: #9AD4D6;
    --nav-hover-background-color: #BCD7DC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}
.hero{
    position:relative;
}
.hero-title{
    position: absolute;
    top: 10px;
    text-align: center;
}
#hero-img{
    width: 100%;
}
.hero-article{
    position:absolute;
    top: 50px;
    background-color: #fff;
    margin: 0 20px;
}

.hero-article img{
    width: 200px;
    float:right;
}

.history-title {
    text-align: center;
}

.history-paragraph {
    text-align: justify;
    margin: 10px;
}

nav {
    position: absolute;
    text-align: right;
}

.adventure-title {
    text-align: center;
}

.adventure-title img{
    width: 200px;
    position: absolute;
}

.adventures {
    width: 100px;
    position: relative;
}