@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Young+Serif&display=swap');

:root {
    --primary-color: #0ADAFF;
    --secondary-color: #52D7EB;
    --accent1-color: #9AD4D6;
    --accent2-color: #BCD7DC;

    --heading-font: 'Young Serif', serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-background-color: #0ADAFF;
    --nav-link-color: #52D7EB;
    --nav-hover-link-color: #9AD4D6;
    --nav-hover-background-color: #BCD7DC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position:relative;
}

.hero-title {
    position: absolute;
    top: 10px;
    text-align: center;
}
#hero-img{
    width: 100%;
}
.hero-article {
    position:absolute;
    top: 50px;
    background-color: #fff;
    margin: 0 20px;
}

.hero-article img {
    width: 200px;
    float:right;
}

.history-title {
    text-align: center;
}

.history-paragraph {
    text-align: justify;
    margin: 10px;
}

nav {
    position: absolute;
    text-align: right;
    border-radius: 50%;
}

.adventure-title {
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

.adventure-title img{
    width: 200px;
    position: relative;
}

.adventures {
    width: 100px;
    position: relative;
    display: flex; flex-direction: row;
    
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: right;
	border-bottom: 1px solid #ccc;
	max-width: 1500px;
    padding: 20px;
    background-color: var(--accent1-color);
    text-align: right;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
    text-align: right;
}

.navigation li {
	flex: 1 1 100%;
    text-align: right;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

footer {
    margin-top: 1em;
    border: 1px solid #000;
    text-align: center;
}

.sociallinks {
    position: relative;
    text-align: right;
}
